@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

p,
button {
  font-family: "Roboto", sans-serif;
}

.head-img {
  max-width: 300px;
  padding: 8px 16px;
  margin-bottom: 10px;
}
body {
  background: linear-gradient(
    130deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(63, 63, 63) 100%,
    rgba(255, 229, 0, 1) 100%
  );
  background-repeat: repeat;
  background-attachment: fixed;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.movies {
  display: flex;
  max-width: 80vw;
  flex-wrap: wrap;
  gap: 28px;
  color: white;
}

.movies-card-img {
  background-color: rgb(74, 74, 74);
  border: solid #f3ce13 3px;
  height: 500px;
  width: 300px;
  object-fit: cover;
}

.movies-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.update-btn,
.delete-btn,
.add-btn {
  width: 80px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.add-btn {
  margin: 15px 0px 15px 0px;
  border: solid rgb(0, 95, 0) 2px;
  color: rgb(0, 95, 0);
}

.update-btn {
  border: solid rgb(120, 120, 255) 2px;
  color: rgb(120, 120, 255);
}

.delete-btn {
  border: solid rgb(255, 120, 120) 2px;
  color: rgb(255, 120, 120);
}

.movies-review {
  width: 400px;
  height: 150px;
  padding: 6px 12px;
  overflow-y: scroll;
}
